.form {
    padding: 0 0 0 14px;
    width: 400px;

    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

input {
    padding: 5px;
    width: 100%;
    margin: 0 0 10px -14px;
    background-color:aquamarine;
}

textarea {
    padding: 5px;
    width: 100%;
    height: auto;
    margin: 0 0 -4px -14px;
    background-color:aquamarine;
}





